In [1]:
import pandas as pd

In [22]:
df = pd.read_csv('D://code//data//data_service_agent//20180317_N_TRIP.txt', encoding='utf-8', sep=',')

#### adding columns in a specific location

In [15]:
idx = 0
new_col = [x for x in range(df.shape[0])]  # can be a list, a Series, an array or a scalar   
df.insert(loc=idx, column='BMS_TX_BATCH', value=new_col)

In [12]:
new_col = [x for x in range(df.shape[0])]

#### checking data

In [49]:
#df

In [19]:
df2 = pd.read_csv('D://code//data//data_service_agent//20180317-S-TRIP.txt', encoding='utf-8', sep=',')

In [20]:
df2.columns

Index(['BMS_TX_BATCH', 'DIRECTION_ID', 'ENTRY_TIME', 'EXIT_TIME', 'STOP',
       'STOP_DURATION', 'VEHICLE_ID', 'IDENTITY_ID', 'Gender',
       'MVDIS_CATEGORY', 'VEHICLE_AGE', 'VEHICLE_BRAND', 'Holiday_cnt',
       'WEEKDAY_CNT', 'TX_cnt', 'T_MILEAGE', 'O_CITY', 'O_TIME', 'O_MILEAGE',
       'D_CITY', 'D_TIME', 'D_MILEAGE', 'TRIP_DURATION', 'TRIP_DISTANCE'],
      dtype='object')

In [6]:
df_trip = pd.read_csv('D://code//data//data_service_agent//TRIP_utf8.txt', encoding='utf-8', sep='\t', low_memory=False)

In [50]:
#df_trip

#### merging data

In [25]:
frame = [df, df_trip]
df_all = pd.concat(frame)

In [27]:
df_all.columns

Index(['BMS_TX_BATCH', 'DIRECTION_ID', 'ENTRY_TIME', 'EXIT_TIME', 'STOP',
       'STOP_DURATION', 'VEHICLE_ID', 'IDENTITY_ID', 'Gender',
       'MVDIS_CATEGORY', 'VEHICLE_AGE', 'VEHICLE_BRAND', 'Holiday_cnt',
       'WEEKDAY_CNT', 'TX_cnt', 'T_MILEAGE', 'O_CITY', 'O_TIME', 'O_MILEAGE',
       'D_CITY', 'D_TIME', 'D_MILEAGE', 'TRIP_DURATION', 'TRIP_DISTANCE'],
      dtype='object')

In [48]:
df_all.to_csv('D://code//data//data_service_agent//all_trip.csv', encoding='utf-8')

In [68]:
df_all.shape

(684076, 24)

In [83]:
brand = []
count = []

for x in list(df_all.groupby('VEHICLE_BRAND')):
    
    brand.append(x[0])
    count.append(x[1].shape[0])
    
    #print (x[0],x[1].shape[0])

In [80]:
idx=1
#car_df = pd.DataFrame
df_t_list.insert(loc=idx, column='count', value=count)

In [66]:
#[ type(x[1]) for x in list(df_all.groupby('VEHICLE_BRAND'))]

In [ ]:
with open('D://code//data//data_service_agent//car_type.txt', 'w') as f :
    result = str(df_all.groupby('VEHICLE_BRAND').size())
    f.write(result)

In [40]:
with open('D://code//data//data_service_agent//car_type.txt', 'w') as f :
    result = str([x[0] for x in list(df_all.groupby('VEHICLE_BRAND'))])
    f.write(result)

In [43]:
df_t = pd.read_csv('D://code//data//data_service_agent//car_type_sep.txt', sep=',', header=None)

In [52]:
#df_t

In [45]:
df_t_list = df_t.transpose()

In [84]:
#df_t_list

In [82]:
df_t_list.to_csv('D://code//data//data_service_agent//car_type_list_with_cnt.csv', encoding='utf-8')