In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv('D://code//data//data_service_agent//TRIP_with_FinalBrand.csv', low_memory=False)

In [26]:
df.to_csv('D://code//data//data_service_agent//TRIP_with_FinalBrand.csv', encoding='utf-8')

In [109]:
#df

In [32]:
df.shape

(626757, 25)

In [4]:
df = df.drop(['Unnamed: 0'], axis=1)

In [5]:
df.columns

Index(['BMS_TX_BATCH', 'DIRECTION_ID', 'ENTRY_TIME', 'EXIT_TIME', 'STOP',
       'STOP_DURATION', 'VEHICLE_ID', 'IDENTITY_ID', 'Gender',
       'MVDIS_CATEGORY', 'VEHICLE_AGE', 'VEHICLE_BRAND', 'Holiday_cnt',
       'WEEKDAY_CNT', 'TX_cnt', 'T_MILEAGE', 'O_CITY', 'O_TIME', 'O_MILEAGE',
       'D_CITY', 'D_TIME', 'D_MILEAGE', 'TRIP_DURATION', 'TRIP_DISTANCE',
       'final_brand'],
      dtype='object')

In [13]:
%timeit pd.to_datetime(s,infer_datetime_format=True)

165 ms ± 1.59 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

#### adjusting datatype in time field

In [7]:
df['ENTRY_TIME'] = pd.to_datetime(df['ENTRY_TIME'],infer_datetime_format=True)

In [8]:
df['EXIT_TIME'] = pd.to_datetime(df['EXIT_TIME'],infer_datetime_format=True)

In [9]:
df['O_TIME'] = pd.to_datetime(df['O_TIME'],infer_datetime_format=True)

In [10]:
df['D_TIME'] = pd.to_datetime(df['D_TIME'],infer_datetime_format=True)

#### start selecting !!

In [49]:
#進入服務區(STOP = P)的每日平均車輛數(count)

df[(df.O_TIME.dt.day == 18) & (df.STOP == 'P') & (df.MVDIS_CATEGORY == 31)].shape

(12863, 25)

In [52]:
df[ (df.STOP == 'P')].shape

(80829, 25)

In [278]:
#進入服務區(STOP = P)的每日平均停留時間(STOP_DURATION)
for day in days :
    print (df[(df.O_TIME.dt.day == day) & (df.STOP == 'P') & (df.MVDIS_CATEGORY.isin([42, 5]))]['STOP_DURATION'].mean())

26.26457399103139
27.083333333333332
24.069651741293534
23.64819479429051
26.357210179076343
24.90566037735849
23.84967320261438

In [60]:
#服務區的熱門時段

df[(df.ENTRY_TIME.dt.day == 12) & (df.STOP == 'P') & (df.MVDIS_CATEGORY == 31) & (df.O_TIME.dt.hour == 00)].shape

(224, 25)

In [258]:
df[(df.O_TIME.dt.hour == 1) & (df.STOP == 'P')].shape

pandas.core.frame.DataFrame

In [304]:
#平日 未/進入服務區車輛的旅次 ########要分南北站########
total = pd.DataFrame(df[(df.STOP == 'P') & (df.DIRECTION_ID == 'S') & (df.ENTRY_TIME.dt.day.isin([12, 13, 14, 15, 16]) )].groupby(['O_CITY', 'D_CITY']).size()).sort_values(0, ascending=False)

In [313]:
#假日 未/進入服務區車輛的旅次 ########要分南北站########
total = pd.DataFrame(df[(df.STOP == 'P') & (df.DIRECTION_ID == 'S') & (df.ENTRY_TIME.dt.day.isin([17, 18]))].groupby(['O_CITY', 'D_CITY']).size()).sort_values(0, ascending=False)

In [283]:
#未進入服務區車輛的旅次 ########要分南北站########
total = pd.DataFrame(df[(df.STOP == 'T') & (df.DIRECTION_ID == 'S')].groupby(['O_CITY', 'D_CITY']).size()).sort_values(0, ascending=False)

In [183]:
#進入服務區車輛的旅次 ########要分南北站########
total = pd.DataFrame(df[(df.STOP == 'P') & (df.DIRECTION_ID == 'N')].groupby(['O_CITY', 'D_CITY']).size()).sort_values(0, ascending=False)

In [395]:
## try getting out the top city in grouping dataframe

test = pd.DataFrame(df[(df.STOP == 'P') & (df.DIRECTION_ID == 'N')].groupby(['O_CITY']).size()).sort_values(0, ascending=False)
vv = [x[0] for x in test.iterrows()][0]
yy = [x[1][0] for x in test.iterrows()][0]
print(type(vv), yy)
#for i in test.iterrows()  :
#    print(list(i[1])[0])

<class 'str'> 15630

In [110]:
#total

In [343]:
O_CITY[0].sum()

18731

In [342]:
O_CITY = pd.DataFrame(df[(df.STOP == 'P') & (df.DIRECTION_ID == 'S')&(df.ENTRY_TIME.dt.day.isin([17, 18]))].groupby('O_CITY').size()).sort_values(0, ascending=False)

In [339]:
O_CITY = pd.DataFrame(df[(df.STOP == 'P') & (df.DIRECTION_ID == 'N')&(df.ENTRY_TIME.dt.day.isin([12, 13, 14, 15, 16]) )].groupby('O_CITY').size()).sort_values(0, ascending=False)

In [291]:
O_CITY = pd.DataFrame(df[(df.STOP == 'T') & (df.DIRECTION_ID == 'S')].groupby('O_CITY').size()).sort_values(0, ascending=False)

In [ ]:
D_CITY = pd.DataFrame(df[(df.STOP == 'T') & (df.DIRECTION_ID == 'N')&(df.ENTRY_TIME.dt.day.isin([17, 18]))].groupby('D_CITY').size()).sort_values(0, ascending=False)

In [ ]:
D_CITY = pd.DataFrame(df[(df.STOP == 'T') & (df.DIRECTION_ID == 'N')&(df.ENTRY_TIME.dt.day.isin([12, 13, 14, 15, 16]) )].groupby('D_CITY').size()).sort_values(0, ascending=False)

In [341]:
direct = ['N', 'S']
ino = ['T', 'P']
ino_n = ['non', 'in']
weekday = [12, 13, 14, 15, 16]
weekend = [17, 18]
week = [weekday, weekend]
we_dir = ['wd', 'wk']


for index, we in enumerate(week) :
    
    for index_i, i in enumerate(ino) :
        for d in direct :
            D_CITY = pd.DataFrame(df[(df.STOP == i) & (df.DIRECTION_ID == d)&(df.ENTRY_TIME.dt.day.isin(we) )].groupby('D_CITY').size()).sort_values(0, ascending=False)
            D_CITY.to_csv('D://code//data//data_service_agent//result_set//{0}SA_{1}_{2}_travel_D.csv'.format(ino_n[index_i], d, we_dir[index]), encoding='big5')

In [290]:
D_CITY = pd.DataFrame(df[(df.STOP == 'T') & (df.DIRECTION_ID == 'N')].groupby('D_CITY').size()).sort_values(0, ascending=False)

In [344]:
O_CITY.to_csv('D://code//data//data_service_agent//result_set//inSA_S_wk_travel_O.csv', encoding='big5')

In [323]:
#進入服務區車輛的Gender
pd.DataFrame(df[(df.STOP == 'P')&(df.ENTRY_TIME.dt.day.isin([12, 13, 14, 15, 16]))].groupby('Gender').size())

            0
Gender
女       14772
男       15993
非自然人    17628

In [322]:
print(df[(df.STOP == 'P') & (df.MVDIS_CATEGORY == 31)&(df.ENTRY_TIME.dt.day.isin([12, 13, 14, 15, 16]))].groupby('Gender').size())
print(df[(df.STOP == 'P') & (df.MVDIS_CATEGORY == 32)&(df.ENTRY_TIME.dt.day.isin([12, 13, 14, 15, 16]))].groupby('Gender').size())
print(df[(df.STOP == 'P') & (df.MVDIS_CATEGORY == 41)&(df.ENTRY_TIME.dt.day.isin([12, 13, 14, 15, 16]))].groupby('Gender').size())
print(df[(df.STOP == 'P') & (df.MVDIS_CATEGORY == 42)&(df.ENTRY_TIME.dt.day.isin([12, 13, 14, 15, 16]))].groupby('Gender').size())
print(df[(df.STOP == 'P') & (df.MVDIS_CATEGORY == 5)&(df.ENTRY_TIME.dt.day.isin([12, 13, 14, 15, 16]))].groupby('Gender').size())

Gender
女       12436
男       12820
非自然人     5714
dtype: int64
Gender
女       2336
男       3169
非自然人    4863
dtype: int64
Gender
非自然人    1673
dtype: int64
Gender
男          4
非自然人    3511
dtype: int64
Gender
非自然人    1867
dtype: int64

In [111]:
#進入服務區車輛的Brand
# pd.DataFrame(df[(df.STOP == 'P')].groupby('final_brand').size()).sort_values(0, ascending=False)

In [11]:
# for specific day 14 & 17

direct = ['N', 'S']
ino = ['T', 'P']
ino_n = ['non', 'in']
weekday = [12, 13, 14, 15, 16]
weekend = [17, 18]
week = [weekday, weekend]
we_dir = ['wd', 'wk']
small_car = [31, 32]
big_car = [42, 5]
big_41 = [41]
n_cats = [small_car, big_41, big_car]
specific_d = [14, 17]

for day in specific_d :
    
    for index_i, i in enumerate(ino) :
        for d in direct :
            for n_cat in n_cats :
                
                brandy = pd.DataFrame(df[(df.STOP == i) & (df.DIRECTION_ID == d)&(df.ENTRY_TIME.dt.day == day )&(df.MVDIS_CATEGORY.isin(n_cat))].groupby('final_brand').size()).sort_values(0, ascending=False)
                brandy.to_csv('D://code//data//data_service_agent//result_set//brand_carType//{0}SA_{1}_{2}_{3}_brand.csv'.format(ino_n[index_i], d, day, n_cat), encoding='big5')

In [ ]:
# divided by car type

direct = ['N', 'S']
ino = ['T', 'P']
ino_n = ['non', 'in']
weekday = [12, 13, 14, 15, 16]
weekend = [17, 18]
week = [weekday, weekend]
we_dir = ['wd', 'wk']
small_car = [31, 32]
big_car = [42, 5]
big_41 = [41]
n_cats = [small_car, big_41, big_car]

for index, we in enumerate(week) :
    
    for index_i, i in enumerate(ino) :
        for d in direct :
            for n_cat in n_cats :
                
                brandy = pd.DataFrame(df[(df.STOP == i) & (df.DIRECTION_ID == d)&(df.ENTRY_TIME.dt.day.isin(we) )&(df.MVDIS_CATEGORY.isin(n_cat))].groupby('final_brand').size()).sort_values(0, ascending=False)
                brandy.to_csv('D://code//data//data_service_agent//result_set//brand_carType//{0}SA_{1}_{2}_{3}_brand.csv'.format(ino_n[index_i], d, we_dir[index], n_cat), encoding='big5')

In [345]:
# 

direct = ['N', 'S']
ino = ['T', 'P']
ino_n = ['non', 'in']
weekday = [12, 13, 14, 15, 16]
weekend = [17, 18]
week = [weekday, weekend]
we_dir = ['wd', 'wk']


for index, we in enumerate(week) :
    
    for index_i, i in enumerate(ino) :
        for d in direct :
                        
            brandy = pd.DataFrame(df[(df.STOP == i) & (df.DIRECTION_ID == d)&(df.ENTRY_TIME.dt.day.isin(we)& (df.MVDIS_CATEGORY == 32) )].groupby('final_brand').size()).sort_values(0, ascending=False)
            brandy.to_csv('D://code//data//data_service_agent//result_set//{0}SA_{1}_{2}_brand.csv'.format(ino_n[index_i], d, we_dir[index]), encoding='big5')

In [154]:
brand_c32 = pd.DataFrame(df[(df.STOP == 'P') & (df.MVDIS_CATEGORY == 32)].groupby('final_brand').size()).sort_values(0, ascending=False)
brand_c32.to_csv('D://code//data//data_service_agent//result_set//inSA_brand_32.csv', encoding='big5')

In [160]:
#進入服務區車輛的age
pd.DataFrame(df[(df.STOP == 'P') & (df.MVDIS_CATEGORY == 5)])['VEHICLE_AGE'].mean()

392.07375949932947

In [166]:
#進入服務區車輛的 === Y2018三月行駛國道的平日天數
#pd.DataFrame(df[(df.STOP == 'P') & (df.MVDIS_CATEGORY == 5)])['VEHICLE_AGE'].mean()

pd.DataFrame(df[(df.STOP == 'P')&(df.MVDIS_CATEGORY == 5)])['Holiday_cnt'].mean()

3.199210679335387

In [12]:
# WEEKDAY_CNT, Holiday_cnt
wk_wd = ['WEEKDAY_CNT', 'Holiday_cnt']
small_car = [31, 32]
big_car = [42, 5]
big_41 = [41]
n_cats = [small_car, big_41, big_car]

for n_cat in n_cats:
    for w in wk_wd :
        
        var = df[(df.STOP == 'P') & (df.MVDIS_CATEGORY.isin(n_cat))][w].mean()
        print (n_cat, ' : ', w, ' = ', var)

[31, 32]  :  WEEKDAY_CNT  =  8.255074528868587
[31, 32]  :  Holiday_cnt  =  3.0399955296648646
[41]  :  WEEKDAY_CNT  =  16.141512495942877
[41]  :  Holiday_cnt  =  6.692632262252515
[42, 5]  :  WEEKDAY_CNT  =  19.209083536090834
[42, 5]  :  Holiday_cnt  =  3.3020275750202757

In [165]:
for category in categories:
    var = df[(df.STOP == 'P') & (df.MVDIS_CATEGORY == category)]['Holiday_cnt'].mean()
    print(category, var)

31 3.1390431822254077
32 2.6895327458314844
41 6.692632262252515
42 2.4823590007725986
5 4.6967572304995615

In [22]:
# 曾經進入過泰安服務區的平均次數

wk_wd = ['WEEKDAY_CNT', 'Holiday_cnt']
small_car = [31, 32]
big_car = [42, 5]
big_41 = [41]
n_cats = [small_car, big_41, big_car]

for n_cat in n_cats:
    for w in wk_wd :
        
        var = df[(df.VEHICLE_ID.isin(df[df.STOP == 'P']['VEHICLE_ID'].unique()))&(df.MVDIS_CATEGORY.isin(n_cat))][w].mean()
        print (n_cat, ' : ', w, ' = ', var)
#df[(df.VEHICLE_ID.isin(df[df.STOP == 'P']['VEHICLE_ID'].unique()))]['Holiday_cnt'].mean()

[31, 32]  :  WEEKDAY_CNT  =  9.354930722161875
[31, 32]  :  Holiday_cnt  =  3.1590616037448327
[41]  :  WEEKDAY_CNT  =  17.41472215540053
[41]  :  Holiday_cnt  =  7.011426509502045
[42, 5]  :  WEEKDAY_CNT  =  19.88477646319757
[42, 5]  :  Holiday_cnt  =  3.4926709245105223

In [49]:
#df[(df[df.STOP == 'P']['VEHICLE_ID'].unique())]
#df[(df.VEHICLE_ID.isin(df[df.STOP == 'P']['VEHICLE_ID'].unique()))].index.values
(df[df.STOP == 'P']['VEHICLE_ID'].unique())

7981495.097052095

In [42]:
list(df[df.VEHICLE_ID == 1358136]['WEEKDAY_CNT'].head(1))[0]

9

In [59]:
 list(df[(df.VEHICLE_ID == 1358136) ]['MVDIS_CATEGORY'].head(1))[0]

32

In [69]:
#df[(df.VEHICLE_ID.isin(df[df.STOP == 'P']['VEHICLE_ID'].unique()))&(df.MVDIS_CATEGORY.isin(n_cat))][w].mean()

#list(df[df.VEHICLE_ID.isin(df[df.STOP == 'P']['VEHICLE_ID'].unique())]['WEEKDAY_CNT'].head(1))[0]
small_car = [31, 32]
big_car = [42, 5]
big_41 = [41]
n_cats = [small_car, big_41, big_car]
s_li_wd = []
s_li_wk = []
m_li_wd = []
m_li_wk = []
L_li_wd = []
L_li_wk = []

for i in (df[df.STOP == 'P']['VEHICLE_ID'].unique()) :
    var_wd = list(df[df.VEHICLE_ID == i]['WEEKDAY_CNT'].head(1))[0]
    var_wk = list(df[df.VEHICLE_ID == i]['Holiday_cnt'].head(1))[0]
    
    if  list(df[(df.VEHICLE_ID == i) ]['MVDIS_CATEGORY'].head(1))[0] in n_cats[0]:
        s_li_wd.append(var_wd)
        s_li_wk.append(var_wk)
    elif list(df[(df.VEHICLE_ID == i) ]['MVDIS_CATEGORY'].head(1))[0] in n_cats[1]:
        m_li_wd.append(var_wd)
        m_li_wk.append(var_wk)
    elif list(df[(df.VEHICLE_ID == i) ]['MVDIS_CATEGORY'].head(1))[0] in n_cats[2]:
        L_li_wd.append(var_wd)
        L_li_wk.append(var_wk)
    #print (var)

print ('s_li_wd = ', sum(s_li_wd)/len(s_li_wd))
print ('s_li_wk = ', sum(s_li_wk)/len(s_li_wk))
print ('m_li_wd = ', sum(m_li_wd)/len(m_li_wd))
print ('m_li_wk = ', sum(m_li_wk)/len(m_li_wk))
print ('L_li_wd = ', sum(L_li_wd)/len(L_li_wd))
print ('L_li_wk = ', sum(L_li_wk)/len(L_li_wk))

s_li_wd =  8.05194037481427
s_li_wk =  3.030371778690227
m_li_wd =  16.15546218487395
m_li_wk =  6.652941176470589
L_li_wd =  18.681562881562883
L_li_wk =  2.9289377289377287

In [15]:
# 曾經進入過泰安服務區的平均次數

#len(df[df.STOP == 'P']['VEHICLE_ID'].unique())

wk_wd = ['WEEKDAY_CNT', 'Holiday_cnt']
small_car = [31, 32]
big_car = [42, 5]
big_41 = [41]
n_cats = [small_car, big_41, big_car]

for n_cat in n_cats:
    for w in wk_wd :
        
        var = df[(df.STOP == 'P') & (df.MVDIS_CATEGORY.isin(n_cat))][w].mean()
        print (n_cat, ' : ', w, ' = ', var)

69066

In [273]:
#進服務區與沒進服務區佔主線比例 by 每日
days = [12, 13, 14, 15, 16, 17, 18]
hours = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

for day in days:
    total_list = []
    for hour in hours :
        cnt_var = df[(df.ENTRY_TIME.dt.day == day)&(df.ENTRY_TIME.dt.hour == hour)].shape[0]
        in_var = df[(df.STOP == 'P')&(df.ENTRY_TIME.dt.day == day)&(df.ENTRY_TIME.dt.hour == hour)].shape[0]
        out_var = df[(df.STOP == 'T')&(df.ENTRY_TIME.dt.day == day)&(df.ENTRY_TIME.dt.hour == hour)].shape[0]
        per_var = float((in_var/cnt_var)*100.0)
        hr_list = [in_var, out_var, cnt_var, per_var]
        total_list.append(hr_list)
    result_dict["hour_countIO_df__{0}".format(day)] = pd.DataFrame(total_list, index=hours, columns=['in', 'not_in', 'total', 'percentage'])

In [275]:
for day in days :
    result_dict["hour_countIO_df__{0}".format(day)].to_csv('D://code//data//data_service_agent//result_set//IO_percentage_day_{0}.csv'.format(day), na_rep='0')

#result_dict['hour_count_df__12']

In [274]:
#result_dict["hour_countIO_df__{0}".format(day)]
result_dict["hour_countIO_df__12"]

     in  not_in  total  percentage
0   181    1580   1761   10.278251
1   105     928   1033   10.164569
2    82     750    832    9.855769
3    73     673    746    9.785523
4    93    1014   1107    8.401084
5   114    1639   1753    6.503137
6   225    2953   3178    7.079924
7   427    4239   4666    9.151307
8   492    4242   4734   10.392902
9   575    4302   4877   11.790035
10  650    4442   5092   12.765122
11  670    4149   4819   13.903299
12  640    3837   4477   14.295287
13  546    3953   4499   12.136030
14  614    4108   4722   13.002965
15  631    4226   4857   12.991559
16  585    4303   4888   11.968085
17  509    4145   4654   10.936829
18  377    3391   3768   10.005308
19  340    2946   3286   10.346926
20  275    2828   3103    8.862391
21  248    2421   2669    9.291870
22  189    2081   2270    8.325991
23  104    1513   1617    6.431664

In [396]:
# for only day 14 and hour 10
categories = [31, 32, 41, 42, 5]
small_car = [31, 32]
big_car = [42, 5]
big_41 = [41]
n_cats = [small_car, big_41, big_car]
directions = ['N', 'S']
#(df.MVDIS_CATEGORY == 5)
# pd.DataFrame(df[(df.STOP == 'P') & (df.DIRECTION_ID == 'N')].groupby(['O_CITY']).size()).sort_values(0, ascending=False)
#vv = [x[0] for x in test.iterrows()][0]
#yy = [x[1][0] for x in test.iterrows()][0]
sum_list = []
index_list = []

for n_cat in n_cats :
    
    for dire in directions :
        #cnt_var = df[(df.ENTRY_TIME.dt.day == 14)&(df.ENTRY_TIME.dt.hour == 10)].shape[0]
        #in_var = df[(df.STOP == 'P')&(df.ENTRY_TIME.dt.day == 14)&(df.ENTRY_TIME.dt.hour == 10)].shape[0]
        #out_var = df[(df.STOP == 'T')&(df.ENTRY_TIME.dt.day == 14)&(df.ENTRY_TIME.dt.hour == 10)].shape[0]
        dir_cnt_var = df[(df.ENTRY_TIME.dt.day == 14)&(df.ENTRY_TIME.dt.hour == 10)&(df.DIRECTION_ID == dire)].shape[0]
        dir_in_var = df[(df.STOP == 'P')&(df.ENTRY_TIME.dt.day == 14)&(df.ENTRY_TIME.dt.hour == 10)&(df.DIRECTION_ID == dire)].shape[0]
        dir_out_var = df[(df.STOP == 'T')&(df.ENTRY_TIME.dt.day == 14)&(df.ENTRY_TIME.dt.hour == 10)&(df.DIRECTION_ID == dire)].shape[0]
        type_var = df[(df.STOP == 'P')&(df.ENTRY_TIME.dt.day == 14)&(df.ENTRY_TIME.dt.hour == 10)&(df.DIRECTION_ID == dire)&(df.MVDIS_CATEGORY.isin(n_cat))].shape[0]
        per_type_var = float((type_var/dir_in_var)*100.0)
        ##
        OCITY_df = pd.DataFrame(df[(df.STOP == 'P')&(df.ENTRY_TIME.dt.day == 14)&(df.ENTRY_TIME.dt.hour == 10)&(df.DIRECTION_ID == dire)&(df.MVDIS_CATEGORY.isin(n_cat))].groupby(['O_CITY']).size()).sort_values(0, ascending=False)
        OCITY_var = [x[0] for x in OCITY_df.iterrows()][0]
        OCITY_cnt = [x[1][0] for x in OCITY_df.iterrows()][0]
        per_tra_var = float((OCITY_cnt/type_var)*100.0)
        
        index_name = "{0}  {1}".format(dire, n_cat)
        index_list.append(index_name)
        
        each_list = [dire, dir_cnt_var, dir_in_var, dir_out_var, type_var, per_type_var, OCITY_var, per_tra_var]
        sum_list.append(each_list)


finally_df = pd.DataFrame(sum_list, index=index_list, columns=['direction', 'total', 'in', 'not_in', 'type_cnt', 'percentage_for_type', 'main_O_CITY', 'CITY_percentage'])

In [399]:
finally_df.transpose()

,"N [31, 32]","S [31, 32]",N [41],S [41],"N [42, 5]","S [42, 5]"
direction,N,S,N,S,N,S
total,2485,2484,2485,2484,2485,2484
in,225,1269,225,1269,225,1269
not_in,2260,1215,2260,1215,2260,1215
type_cnt,187,1054,9,41,29,174
percentage_for_type,83.1111,83.0575,4,3.23089,12.8889,13.7116
main_O_CITY,台中市,新北市,高雄市,新北市,台中市,桃園市
CITY_percentage,42.246,25.5218,33.3333,56.0976,48.2759,37.3563

In [398]:
finally_df.to_csv('D://code//data//data_service_agent//result_set//day_14_hr_10_travel_sta.csv', encoding='big5')

In [ ]:
#進服務區與沒進服務區佔主線比例 by 每日 distributed by direction_id (N/S) in specific hour
days = [12, 13, 14, 15, 16, 17, 18]
hours = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

for day in days:
    total_list = []
    for hour in hours :
        cnt_var = df[(df.ENTRY_TIME.dt.day == day)&(df.ENTRY_TIME.dt.hour == hour)].shape[0]
        in_var = df[(df.STOP == 'P')&(df.ENTRY_TIME.dt.day == day)&(df.ENTRY_TIME.dt.hour == hour)].shape[0]
        out_var = df[(df.STOP == 'T')&(df.ENTRY_TIME.dt.day == day)&(df.ENTRY_TIME.dt.hour == hour)].shape[0]
        per_var = float((in_var/cnt_var)*100.0)
        hr_list = [in_var, out_var, cnt_var, per_var]
        total_list.append(hr_list)
    result_dict["hour_countIO_df__{0}".format(day)] = pd.DataFrame(total_list, index=hours, columns=['in', 'not_in', 'total', 'percentage'])

#### write into file

In [80]:
days = [12, 13, 14, 15, 16, 17, 18]
categories = [31, 32, 41, 42, 5]
hours = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

hour_count_df_12 = pd.DataFrame()
hour_count_df_13 = pd.DataFrame()
hour_count_df_14 = pd.DataFrame()
hour_count_df_15 = pd.DataFrame()
hour_count_df_16 = pd.DataFrame()
hour_count_df_17 = pd.DataFrame()
hour_count_df_18 = pd.DataFrame()
result_dict = {}

for day in days :
    list_31 = []
    list_32 = []
    list_41 = []
    list_42 = []
    list_5 = []
    
    
    for category in categories :
        for hour in hours :
            var = df[(df.ENTRY_TIME.dt.day == day) & (df.STOP == 'P') & (df.MVDIS_CATEGORY == category) & (df.ENTRY_TIME.dt.hour == hour)].shape
            
            if category == 31 :
                list_31.append(var[0])
            elif category == 32 :
                list_32.append(var[0])
            elif category == 41 :
                list_41.append(var[0])
            elif category == 42 :
                list_42.append(var[0])
            elif category == 5 :
                list_5.append(var[0])
    
    if day == 12 :
        hour_count_df_12 = pd.DataFrame([list_31, list_32, list_41, list_42, list_5], index=categories, columns=hours)
    elif day == 13 :
        hour_count_df_13 = pd.DataFrame([list_31, list_32, list_41, list_42, list_5], index=categories, columns=hours)
    elif day == 14 :
        hour_count_df_14 = pd.DataFrame([list_31, list_32, list_41, list_42, list_5], index=categories, columns=hours)
    elif day == 15 :
        hour_count_df_15 = pd.DataFrame([list_31, list_32, list_41, list_42, list_5], index=categories, columns=hours)
    elif day == 16 :
        hour_count_df_16 = pd.DataFrame([list_31, list_32, list_41, list_42, list_5], index=categories, columns=hours)
    elif day == 17 :
        hour_count_df_17 = pd.DataFrame([list_31, list_32, list_41, list_42, list_5], index=categories, columns=hours)
    elif day == 18 :
        hour_count_df_18 = pd.DataFrame([list_31, list_32, list_41, list_42, list_5], index=categories, columns=hours)
    
    #result_dict["hour_count_df__{0}".format(day)] = pd.DataFrame([list_31, list_32, list_41, list_42, list_5], index=categories, columns=hours)

In [193]:
days = [12, 13, 14, 15, 16, 17, 18]
categories = [31, 32, 41, 42, 5]
hours = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]


result_dict = {}

for day in days :
    list_31 = []
    list_32 = []
    list_41 = []
    list_42 = []
    list_5 = []
    
    
    for category in categories :
        for hour in hours :
            var = df[(df.ENTRY_TIME.dt.day == day) & (df.STOP == 'P') & (df.MVDIS_CATEGORY == category) & (df.ENTRY_TIME.dt.hour == hour)]['STOP_DURATION'].mean()
            
            if category == 31 :
                list_31.append(var)
            elif category == 32 :
                list_32.append(var)
            elif category == 41 :
                list_41.append(var)
            elif category == 42 :
                list_42.append(var)
            elif category == 5 :
                list_5.append(var)
    
    
    
    result_dict["hour_count_df__{0}".format(day)] = pd.DataFrame([list_31, list_32, list_41, list_42, list_5], index=categories, columns=hours).transpose()

#### calculate average STOP_DURATION by 10 minutes
using two list : one for start-minutes ; second for end-minutes
and using range() or enumerate() to iterate over the time

In [199]:
# by 10 minutes
df[(df.ENTRY_TIME.dt.day == 13) & (df.STOP == 'P') & (df.MVDIS_CATEGORY == 31) & (df.ENTRY_TIME.dt.hour == 0) & (df.ENTRY_TIME.dt.minute >= 0) & (df.ENTRY_TIME.dt.minute < 10)]['STOP_DURATION'].mean()
#between_time('00:00:00','05:10:00')

start_min = [0, 11, 21, 31, 41, 51]
end_min = [10, 20, 30, 40, 50, 59]

In [203]:
start_min = [0, 11, 21, 31, 41, 51]
end_min = [10, 20, 30, 40, 50, 59]
for num in enumerate(start_min):
    var = df[(df.ENTRY_TIME.dt.day == 13) & (df.STOP == 'P') & (df.MVDIS_CATEGORY == 31) & (df.ENTRY_TIME.dt.hour == 0) & (df.ENTRY_TIME.dt.minute >= num[1]) & (df.ENTRY_TIME.dt.minute <= end_min[num[0]])]['STOP_DURATION'].mean()
    print(var)
    #print(num[1])
    #print(end_min[num[0]])

17.869565217391305
15.363636363636363
15.133333333333333
17.095238095238095
15.615384615384615
15.0

In [206]:
start_min = [00, 11, 21, 31, 41, 51]
end_min = [10, 20, 30, 40, 50, 59]
col_min = []
for i in hours:
    for j in enumerate(start_min):
        string = "{0}:{1}-{0}:{2}".format(i, j[1], end_min[j[0]])
        col_min.append(string)
        #print(string)

In [207]:
len(col_min)

144

In [211]:
tmp = []
for num in enumerate(start_min):
    var = df[(df.ENTRY_TIME.dt.day == 12) & (df.STOP == 'P') & (df.MVDIS_CATEGORY == 31) & (df.ENTRY_TIME.dt.hour == 3) & (df.ENTRY_TIME.dt.minute >= num[1]) & (df.ENTRY_TIME.dt.minute <= end_min[num[0]])]['STOP_DURATION'].mean()
    tmp.append(var)

In [212]:
tmp

[25.285714285714285, 29.8, 28.0, 11.75, 23.0, 22.88888888888889]

#####  select the person who's origin from the hot spot

In [244]:
#  & (df.ENTRY_TIME.dt.hour == 0) & (df.ENTRY_TIME.dt.minute >= 0) & (df.ENTRY_TIME.dt.minute <= 10)(df.STOP == 'P')  &(df.ENTRY_TIME.dt.day == 16)

list(df[ (df.STOP == 'P')  &(df.ENTRY_TIME.dt.day == 17)&(df.O_CITY == '台中市')]['VEHICLE_ID'].head())

[1826868, 8191127, 4394388, 1303758, 3881840]

In [86]:
result_S = pd.DataFrame()

In [263]:
type(result)

pandas.core.frame.DataFrame

##### fetching the conditioned (where vehicle_id in hot spot) data and concat dataframe together

In [90]:
weekdays = [12, 13, 14, 15, 16]
for ID in list(df[ (df.STOP == 'P') &(df.DIRECTION_ID == 'S') &(df.ENTRY_TIME.dt.day == 17)&(df.O_CITY == '新北市')]['VEHICLE_ID']) :
    f_ck_tb = pd.DataFrame(df[(df.ENTRY_TIME.dt.day.isin(weekdays))  & (df.VEHICLE_ID == ID) ])
    frames = [result_S, f_ck_tb]
    result_S = pd.concat(frames)

In [89]:
df[ (df.STOP == 'P') &(df.DIRECTION_ID == 'S') &(df.ENTRY_TIME.dt.day == 17)&(df.O_CITY == '新北市')].shape

(2649, 25)

In [91]:
result_S.shape

(851, 25)

In [78]:
dump_tb = pd.DataFrame(result_S[(result_S.DIRECTION_ID == 'N')].groupby(['O_CITY', 'D_CITY']).size()).sort_values(0, ascending=False)

In [93]:
result_S[(result_S.DIRECTION_ID == 'S')].shape

(355, 25)

In [79]:
dump_tb.to_csv('D://code//data//data_service_agent//result_set//backTravel_N_travel_OD_N.csv', encoding='big5')

In [112]:
#result_S[(result_S.DIRECTION_ID == 'S')]

In [113]:
weekdays = [12, 13, 14, 15, 16]
for ID in list(df[ (df.STOP == 'P')  &(df.ENTRY_TIME.dt.day == 17)&(df.O_CITY == '新北市')]['VEHICLE_ID']) :
    f_ck_tb = pd.DataFrame(df[(df.ENTRY_TIME.dt.day.isin(weekdays))  & (df.VEHICLE_ID == ID)])
    if f_ck_tb.shape[0] != 0 :
        break
        #print(f_ck_tb)
    #df['A'].isin([3, 6])

#### STOP_DURATION .mean() by HOUR or MIN
#### with count using .shape

In [230]:
days = [12, 13, 14, 15, 16, 17, 18]
categories = [31, 32, 41, 42, 5]
hours = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
start_min = [0, 11, 21, 31, 41, 51]
end_min = [10, 20, 30, 40, 50, 59]
directions = ['N', 'S']

result_dict = {}

for day in days :
    
    
    for dire in directions:
        list_31 = []
        list_32 = []
        list_41 = []
        list_42 = []
        list_5 = []
    
        for category in categories :
            for hour in hours :
                for num in enumerate(start_min):
                    var = df[(df.ENTRY_TIME.dt.day == day) & (df.STOP == 'P') &(df.DIRECTION_ID == dire)& (df.MVDIS_CATEGORY == category) & (df.ENTRY_TIME.dt.hour == hour) & (df.ENTRY_TIME.dt.minute >= num[1]) & (df.ENTRY_TIME.dt.minute <= end_min[num[0]])]['STOP_DURATION'].mean()
                    string = "{0}:{1}-{0}:{2}".format(hour, num[1], end_min[num[0]])
                    if category == 31 :
                        list_31.append(var)
                    elif category == 32 :
                        list_32.append(var)
                    elif category == 41 :
                        list_41.append(var)
                    elif category == 42 :
                        list_42.append(var)
                    elif category == 5 :
                        list_5.append(var)



        result_dict["min_count_df_{1}__{0}".format(day, dire)] = pd.DataFrame([list_31, list_32, list_41, list_42, list_5], index=categories, columns=col_min).transpose()

In [232]:
for day in days :
    for dire in directions:
        result_dict["min_count_df_{1}__{0}".format(day, dire)].to_csv('D://code//data//data_service_agent//result_set//car_stDURATION_byMIN_day_{1}_{0}.csv'.format(day, dire), na_rep='0')

#result_dict['hour_count_df__12']

In [218]:
var = df[(df.ENTRY_TIME.dt.day == 12) & (df.STOP == 'P') & (df.MVDIS_CATEGORY == 41) & (df.ENTRY_TIME.dt.hour == 0) & (df.ENTRY_TIME.dt.minute >= 0) & (df.ENTRY_TIME.dt.minute <= 10)]

In [231]:
result_dict['min_count_df_S__12']

                    31         32     41         42    5
0:0-0:10     22.000000  26.666667    NaN        NaN   NaN
0:11-0:20    14.692308        NaN    NaN  23.000000   NaN
0:21-0:30    18.083333  22.000000    NaN        NaN   NaN
0:31-0:40    11.000000  32.250000    NaN        NaN   NaN
0:41-0:50    18.583333  11.000000    NaN        NaN   NaN
0:51-0:59    20.000000  17.666667    NaN  10.000000   NaN
1:0-1:10     15.222222        NaN    NaN        NaN   NaN
1:11-1:20    21.454545   9.500000  16.00        NaN   NaN
1:21-1:30    16.571429   9.500000    NaN        NaN   NaN
1:31-1:40    22.428571  20.000000    NaN        NaN   NaN
1:41-1:50    26.000000  37.333333    NaN  24.500000   NaN
1:51-1:59    16.600000  11.000000    NaN        NaN   NaN
2:0-2:10     17.500000        NaN    NaN  25.500000   NaN
2:11-2:20    12.333333        NaN    NaN        NaN   NaN
2:21-2:30    31.000000        NaN    NaN  11.000000   NaN
2:31-2:40    21.166667  13.333333    NaN        NaN  23.0
2:41-2:50    12.333333  16.000000    NaN        NaN   NaN
2:51-2:59    12.000000  21.000000    NaN        NaN   NaN
3:0-3:10     23.500000  26.500000    NaN   8.500000   NaN
3:11-3:20    32.250000  13.000000    NaN        NaN   NaN
3:21-3:30    40.666667  21.000000  27.00        NaN   NaN
3:31-3:40    12.000000  15.000000  17.00  59.000000   NaN
3:41-3:50    27.400000  28.000000    NaN        NaN   NaN
3:51-3:59    27.333333  66.000000    NaN  15.000000   NaN
4:0-4:10     49.500000  52.000000    NaN        NaN   NaN
4:11-4:20    14.000000   9.000000    NaN        NaN   NaN
4:21-4:30    28.142857        NaN    NaN  67.000000  13.0
4:31-4:40    25.500000  10.500000    NaN  17.000000   NaN
4:41-4:50    16.000000  14.000000    NaN  13.000000   NaN
4:51-4:59    15.142857  20.000000    NaN  11.000000   NaN
...                ...        ...    ...        ...   ...
19:0-19:10   23.000000  17.166667  33.00  25.000000   NaN
19:11-19:20  22.758621  25.166667  19.50  26.000000   NaN
19:21-19:30  21.941176  12.166667  12.00        NaN  32.0
19:31-19:40  21.642857  15.000000    NaN        NaN  27.5
19:41-19:50  18.541667  27.500000    NaN  11.000000   NaN
19:51-19:59  21.411765  22.000000  19.00  35.000000   NaN
20:0-20:10   19.277778  17.600000  14.00  21.000000   NaN
20:11-20:20  19.950000  12.000000  12.00        NaN   NaN
20:21-20:30  25.166667  22.000000  14.00  47.500000   NaN
20:31-20:40  21.882353  22.000000    NaN  47.000000   NaN
20:41-20:50  16.000000  13.000000    NaN  49.500000  16.0
20:51-20:59  24.916667        NaN    NaN        NaN   NaN
21:0-21:10   19.666667  18.000000  21.00        NaN   NaN
21:11-21:20  16.555556  29.000000    NaN        NaN   NaN
21:21-21:30  17.500000  14.500000  13.75        NaN  11.0
21:31-21:40  19.250000   9.000000    NaN  11.000000   NaN
21:41-21:50  19.875000  24.200000  14.00  50.000000   NaN
21:51-21:59  15.333333  19.000000  21.50  11.000000   NaN
22:0-22:10   15.076923  26.000000    NaN        NaN   NaN
22:11-22:20  18.916667  25.285714    NaN  13.333333   NaN
22:21-22:30  12.333333  10.000000    NaN  15.000000  15.0
22:31-22:40  22.500000  28.666667    NaN  20.000000   NaN
22:41-22:50  20.692308  18.000000    NaN  12.000000   NaN
22:51-22:59  17.642857  23.333333    NaN        NaN   NaN
23:0-23:10   16.714286  18.500000    NaN  12.000000   NaN
23:11-23:20  13.875000  13.500000  11.00        NaN   NaN
23:21-23:30  18.333333  11.000000  15.00        NaN   NaN
23:31-23:40  14.333333  11.000000    NaN  16.500000   NaN
23:41-23:50  10.333333   8.000000    NaN        NaN  11.0
23:51-23:59        NaN        NaN    NaN        NaN   NaN

[144 rows x 5 columns]

In [56]:
days = [12, 13, 14, 15, 16, 17, 18]
categories = [31, 32, 41, 42, 5]

for day in days :
    for category in categories :
        var = df[(df.ENTRY_TIME.dt.day == day) & (df.STOP == 'P') & (df.MVDIS_CATEGORY == category)]['STOP_DURATION'].mean()
        print(day, category, '=   ', var)

12 31 =    23.052909122868694
12 32 =    23.365062195781505
12 41 =    25.326984126984126
12 42 =    27.48581560283688
12 5 =    24.164634146341463
13 31 =    23.696343402225754
13 32 =    24.35663082437276
13 41 =    22.3125
13 42 =    28.01043219076006
13 5 =    25.3601108033241
14 31 =    22.15957808778496
14 32 =    22.178881388621022
14 41 =    23.209302325581394
14 42 =    25.01522842639594
14 5 =    22.28708133971292
15 31 =    20.85086412395709
15 32 =    20.521565495207668
15 41 =    19.475935828877006
15 42 =    24.05679012345679
15 5 =    22.77952755905512
16 31 =    22.57252905078992
16 32 =    23.112483458314955
16 41 =    21.046272493573266
16 42 =    27.656891495601172
16 5 =    24.018469656992085
17 31 =    23.770977707272273
17 32 =    23.651240281377266
17 41 =    22.993817619783616
17 42 =    26.801652892561982
17 5 =    22.953191489361704
18 31 =    21.914016947834874
18 32 =    22.535133136094675
18 41 =    20.650459921156372
18 42 =    25.023809523809526
18 5 =    23.02777777777778