In [3]:
!pip install numpy
!pip install matplotlib

Requirement already satisfied: numpy in c:\users\alee2\appdata\local\continuum\anaconda3\envs\athena_practice\lib\site-packages
Collecting matplotlib
  Downloading matplotlib-2.1.2-cp36-cp36m-win_amd64.whl (8.7MB)
Requirement already satisfied: numpy>=1.7.1 in c:\users\alee2\appdata\local\continuum\anaconda3\envs\athena_practice\lib\site-packages (from matplotlib)
Requirement already satisfied: six>=1.10 in c:\users\alee2\appdata\local\continuum\anaconda3\envs\athena_practice\lib\site-packages (from matplotlib)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\alee2\appdata\local\continuum\anaconda3\envs\athena_practice\lib\site-packages (from matplotlib)
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 (from matplotlib)
  Downloading pyparsing-2.2.0-py2.py3-none-any.whl (56kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.10.0-py2.py3-none-any.whl
Requirement already satisfied: pytz in c:\users\alee2\appdata\local\continuum\anaconda3\envs\athena_practice\lib\site-packages (from matplotlib)
Installing collected packages: pyparsing, cycler, matplotlib
Successfully installed cycler-0.10.0 matplotlib-2.1.2 pyparsing-2.2.0

In [35]:
import pandas as pd
import numpy as np

#### insert(loc, column, value[, allow_duplicates]) :	Insert column into DataFrame at specified location.
#### append(other[, ignore_index, verify_integrity]) :	Append rows of other to the end of this frame, returning a new object.

In [7]:
df = pd.DataFrame(np.random.randint(low = 0, high = 10, size = (5, 5)), columns = ['a', 'b', 'c', 'd', 'f'])
df

   a  b  c  d  f
0  0  6  7  8  6
1  4  3  4  2  2
2  6  8  2  9  0
3  7  0  0  2  6
4  7  1  1  4  9

In [33]:
df.insert(0, 'insert_col', value= ['one', 'two', 'tree', 'four', 'five'])
df

  insert_col  a  b  c  d  f
0        one  0  6  7  8  6
1        two  4  3  4  2  2
2       tree  6  8  2  9  0
3       four  7  0  0  2  6
4       five  7  1  1  4  9

append() only works on dataframe
=> df.append()

In [39]:
#append() can only work on list[], can't be tuple, and it must be a dataframe
bb = ['six', 1, 3, 5, 7, 9]
df2 = pd.DataFrame([bb], columns = ['insert_col', 'a', 'b', 'c', 'd', 'f'])
df = df.append(df2, ignore_index=True)

df

  insert_col  a  b  c  d  f
0        one  0  6  7  8  6
1        two  4  3  4  2  2
2       tree  6  8  2  9  0
3       four  7  0  0  2  6
4       five  7  1  1  4  9
5        six  1  3  5  7  9

In [37]:
df2

  insert_col  a  b  c  d  f
0        six  1  3  5  7  9